body {
    font-family: "Montserrat";
}



.container-fluid {
    padding: 3% 15% 7%;
}

h1 {

    font-family: "Montserrat", sans-serif;
    font-weight: bold;

    font-size: 3rem;
    line-height: 1.5;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.5;
}

h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

p {
    color: #8f8f8f;
}

#title {
    background-color: #FF4C68;
    color: white;
}

/* navigation bar*/
.navbar {
    padding: 0 0 4.5rem 0;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}



.nav-item {
    padding: 0 18px 0 18px;
}

.nav-link {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    font-weight: lighter;
}

.download-btn {
    /* Equal to rotateZ(45deg)*/
    margin: 5% 3% 5% 0;
}

/* title img */

.title-img-rotate {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;

}


/* features */
#features {
    padding: 7% 15%;
    background-color: white;
    position: relative;
    z-index: 1;
}

/* h3.feature-promise-header {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    clear: left;
} */

.feature-promise-paragraph {
    color: #8f8f8f;
}


.icon:hover {
    color: #FF4C68;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

/* Testimonial section */
#testimonials {
    background-color: #ef8172;
    color: white;
    /* padding: 7% 15%; */
    text-align: center;
}

.carousel-item {
    padding: 7% 15%;

}

.testimonials-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

/* press */

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}


/* pricing */

#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-col {
    padding: 3% 2%;
}

/* cta */
#cta {
    background-color: #ef8172;
    color: white;
    padding: 7% 15%;
    text-align: center;

}

.cta-heading {
    font-family: "Montserrat", sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: bold;
}

/* footer */
#footer {
    background-color: white;
    padding: 7% 15%;
    text-align: center;
}

.social-icon {
    margin: 20px 10px;
}

/* media quiry */

@media(max-width: 1028px) {
    #title {
        text-align: center;

    }

    .title-img-rotate {
        position: static;
        transform: rotate(0);
    }

    /* #footer {
        text-align: center;
    } */
}