body{
    margin: 0px;
    /* ממקם באמצע רק מש שיש לו אינליין או אלמנטים של בלוק שתופסים את כל הרוחב */
    text-align: center;
    /* font-family: Arial,"Brush Script MT", Helvetica, sans-serif,cursive; */
    font-family: 'Merriweather', serif;
}
div.top_container{
    /* שמים אותו כרלטיב אחרת הבנים שלו ישתמשו בבודי בתור נקודת יחוס */
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;
}
div.mid_container{
    background-color: red;
    width: 200px;
    height: 200px;
}
div.buttom_container{
    background-color: blueviolet;
    width: 200px;
    height: 200px;
}

span.pro{
    text-decoration:underline;
}

 
div.links{
    position: absolute;
    height: 200px;
    width: 200px;
    background-color: beige;
    right: 20px;
    top: 10px;
}

h1{
    /* position: relative; */
    /* top: 100px; */
    margin-top: 0px;
    /* auto dose automatic centering */
    /* width: 10%; */
    /* זה בישביל"טקסט אליין סנטר */
    /* margin: 0 auto 0 auto; */
    font-family: 'Sacramento', cursive;
}
h2{font-family: 'Montserrat', sans-serif;
}
h3{font-family: 'Montserrat', sans-serif;
}

.top_cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}

.buttom_cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}



/***********************block/inline/block-inline displays***********************/
/* בלוק-אינליין=גם אותה שורה וגם אפשר לשנות גודל */
p.InlineBlock{
    background-color: red;
    width: 100px; 
    display: inline-block;
}
/* אינליין= אותה שורה אבל אי אפשר לשנות גודל */
p.testp{
    background-color: red;
    width: 100px; 
    display: inline;
}
/* מעלים אותו (מחביא) כאילו לא היה כלומר לא יהיו רווחים בין האלמנטים=NONE*/
p.none{ 
    display: none;
}
/* מעלים אותו (מחביא) אבל רק ויזואלית כלומר יהיו רווחים בין האלמנטים=NONE*/
p.visibility_hidden{ 
    visibility: hidden;
}

/* בלוק= אפשר לשנות גודל אבל אי אפשר אותה שורה  */
span.tests{
    background-color: blueviolet;
    width: 100px;
    display: block;
}
/***********************block/inline/block-inline displays***********************/